@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }  
}

@mixin desktop {
    @media (min-width: 1280px){
        @content;
    }
}
*{ 
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body{
    background-color: #afafaf;
    font-family: 'Avenir-Next', Arial, Helvetica, sans-serif;
}
header{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #323232;
    color: #ffffff;
    align-items: center;
    // gap: 1rem;

    .header__logo{ 
        padding: 1rem;
    }
    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
    }
}
ul{
    li{     
        color: #ffffff;
        text-decoration: none;
    }
}
nav{
    width: 100%;
    @include tablet{
        width: auto;
    }
}
.nav__heading-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.nav__bio, .nav__shows{
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    width: 50%;

    @include tablet{
        padding: 2rem;
        margin: 0 2rem;
    }
    @include desktop{
        margin: 0;
    }
    &:hover{
        border-bottom: 2px solid #ffffff;
    }
}
.nav__link{
    color: #ffffff;
    text-decoration: none;
    margin: 1rem;
    @include tablet{
        margin: 0;
    }
}
footer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #323232;
    color: #ffffff;
    padding: 1rem;
    font-size: 0.8rem;
    flex-wrap: wrap;

    @include desktop{
        font-size: 1.5rem;

    }
 
    
}
.footer__top{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    @include tablet{
        flex-direction: row;
        margin: 0;
        padding: 1rem;
    }
}

.footer__middle{
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;

    @include tablet{
        padding: 2rem;
        gap: 4rem;
        flex-flow: row wrap;
    }
}
.social{
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;

    @include tablet{
        flex-flow: row wrap;
    }

    &__heading{
        font-weight: 600;
        font-size: 1.5rem;
        @include tablet{
            font-size: 3rem;
        }
    }
    &__icons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-right: 1rem;
        @include tablet{
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }
    &__icons img {
        height: 1.5rem;
    }
    &__icons a{
        align-content: center;
        justify-content: center;

    }
}
.person{
    font-size: 0.875;
    font-weight: 600;
    &__title{
        margin-bottom: 1rem;
    }
    &__address{
        font-weight: 300;
    }
    &__email{
        font-weight: 300;
        margin: 1rem 0;

    }
}
.footer__copyright{
    margin: 0.4rem 0;
    font-size: 0.7rem;
    @include tablet{
        margin: 2rem;
    }
    @include desktop{
        font-size: 1.5rem;
    }
}
.footer__top > .footer__logo {
    display: none;
    @include tablet{
        display: block;
    }
}
.footer__bottom > .footer__logo{
    margin-top: 1rem;
    @include tablet{
        display: none;
    }
    @include desktop{
        display: none;
    }
}
