@font-face {
  font-family: "Avenir-Next";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("otf"), url(../../assets/font/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Next";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("otf"), url(../../assets/font/Alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Next";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("otf"), url(../../assets/font/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #afafaf;
  font-family: "Avenir-Next", Arial, Helvetica, sans-serif;
}

header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #323232;
  color: #ffffff;
  align-items: center;
  gap: 1rem;
}
header .header__logo {
  padding: 1rem;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
  }
}

ul li {
  color: #ffffff;
  text-decoration: none;
}

.nav__heading-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.nav__bio, .nav__shows {
  list-style: none;
  justify-content: center;
  display: inline-block;
  width: 50%;
}
@media (min-width: 768px) {
  .nav__bio, .nav__shows {
    padding: 2rem;
    margin: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .nav__bio, .nav__shows {
    margin: 0;
  }
}
.nav__bio:hover, .nav__shows:hover {
  border-bottom: 2px solid #ffffff;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  margin: 1rem;
}
@media (min-width: 768px) {
  .nav__link {
    margin: 0;
  }
}

footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
  font-size: 0.8rem;
  flex-wrap: wrap;
}
@media (min-width: 1280px) {
  footer {
    font-size: 1.5rem;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__top {
    flex-direction: row;
    margin: 0;
    padding: 1rem;
  }
}

.footer__middle {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer__middle {
    padding: 2rem;
    gap: 4rem;
    flex-flow: row wrap;
  }
}

.social {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
@media (min-width: 768px) {
  .social {
    flex-flow: row wrap;
  }
}
.social__heading {
  font-weight: 600;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .social__heading {
    font-size: 3rem;
  }
}
.social__icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .social__icons {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.social__icons img {
  height: 1.5rem;
}
.social__icons a {
  align-content: center;
  justify-content: center;
}

.person {
  font-size: 0.875;
  font-weight: 600;
}
.person__title {
  margin-bottom: 1rem;
}
.person__address {
  font-weight: 300;
}
.person__email {
  font-weight: 300;
  margin: 1rem 0;
}

.footer__copyright {
  margin: 0.4rem 0;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 1.5rem;
  }
}

.footer__top > .footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__top > .footer__logo {
    display: block;
  }
}

.footer__bottom > .footer__logo {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer__bottom > .footer__logo {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer__bottom > .footer__logo {
    display: none;
  }
}

button {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  button {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
}

h3 {
  font-size: 2rem;
}
@media (min-width: 1280px) {
  h3 {
    font-size: 3rem;
  }
}

.hero-banner {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  min-height: 200px;
  background-position: center;
}
@media (min-width: 768px) {
  .hero-banner {
    padding: 3.75rem;
    min-height: 500px;
  }
}
@media (min-width: 1280px) {
  .hero-banner {
    min-height: 700px;
  }
}
.hero-banner__logo {
  color: #ffffff;
  font-weight: 600;
}

.about {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 1rem;
}
.about p {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .about p {
    width: 90%;
    margin: 0 auto;
  }
}
.about__image-box {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
@media (min-width: 768px) {
  .about__text {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .about__text {
    font-size: 1.2rem;
    width: 60%;
    margin: auto;
    gap: 2rem;
    line-height: 1.7rem;
  }
}
.about__image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .about__image {
    max-width: 80%;
  }
}
.about__image img {
  max-width: 30%;
}
.about__heading {
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__heading {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .about__heading {
    font-size: 3rem;
    width: 90%;
    margin: auto;
    padding: 2rem;
  }
}
.about__box {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about__box {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .about__box {
    font-size: 1rem;
    width: 70%;
    margin: auto;
    padding: 3rem 0;
  }
}
.about__quote {
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quote {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.about__subheading {
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .about__subheading {
    font-weight: 600;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    padding: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .about__subheading {
    width: 60%;
    font-size: 2rem;
    padding: 2rem 0;
  }
}

.gallery {
  max-width: 100%;
  display: flex;
  background-color: #fafafa;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.gallery__heading {
  width: 100%;
  font-weight: 600;
  margin: 1rem;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
  }
}
.gallery__photo-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .gallery__photo-holder {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .gallery__photo-holder {
    width: 80%;
  }
}
.gallery__photo {
  margin: 1rem;
  max-width: 90%;
}
@media (min-width: 768px) {
  .gallery__photo {
    margin: 1rem 0;
    max-width: 30%;
  }
}

.comments {
  padding: 2rem 0;
  background-color: #ffffff;
}
.comments__container, .displayed__container {
  margin: 1rem auto;
  gap: 1rem;
}
@media (min-width: 1280px) {
  .comments__container, .displayed__container {
    width: 60%;
    margin: auto;
  }
}
.comments__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid #e1e1e1;
}
.comments__icon, .displayed__icon {
  height: 2.15rem;
  width: 2.15rem;
  max-height: 10%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__icon, .displayed__icon {
    height: 3rem;
    width: 3rem;
  }
}
.comments__heading {
  width: 80%;
  margin: auto;
  font-size: 2rem;
  font-weight: 600;
}
.comments__form, .displayed__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.comments__nameLabel, .comments__commentLabel {
  text-transform: uppercase;
  color: #afafaf;
  font-weight: 600;
}
.comments__nameBox, .comments__commentBox {
  background-color: #fafafa;
  color: #323232;
  border: 1px solid #afafaf;
  border-radius: 5px;
  min-height: 2rem;
  padding: 5px;
  margin: 0.5rem 0 1.5rem;
}
.comments__commentBox {
  min-height: 5rem;
  font-family: inherit;
}
.comments__btn {
  color: #ffffff;
  padding: 0.7rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #323232;
}

.displayed {
  width: 80%;
  margin: auto;
}
.displayed__icon {
  background-color: #afafaf;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .displayed__icon {
    height: 3rem;
    width: 3rem;
  }
}
.displayed__comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 2px solid #e1e1e1;
}
.displayed__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.displayed__name {
  font-weight: 600;
  margin: 0.5rem 0;
}
.displayed__date {
  color: #afafaf;
}/*# sourceMappingURL=bio.css.map */