@use './typography' as *;
@use'./global' as *;
@use'./fonts' as*;

.hero-banner{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-image:linear-gradient(rgba(50, 50, 50, 0.5),rgba(50, 50, 50, 0.5)) ,url(../../assets/images/hero-bio.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: center;

    @include tablet{
        padding: 3.75rem;
        min-height: 500px;
    }

    @include desktop{
        min-height: 700px;
    }

    &__logo{
        color: #ffffff;
        font-weight: 600;
    }
}
.about{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem;

    p{
        margin: 1rem 0;
        @include tablet{
            width: 90%;
            margin: 0 auto;
        }
    }
    &__image-box{
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
    &__text{
        @include tablet{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            line-height: 1.5rem;
            width: 80%;
            margin: auto;
        }
        @include desktop{
            font-size: 1.2rem;
            width: 60%;
            margin: auto;
            gap: 2rem;
            line-height: 1.7rem;
        }
    }
    &__image{
        max-width: 100%;
        
        @include tablet{
            max-width: 80%;
        }
        
    }
    &__image  img {
        max-width: 30%;
    }
    &__heading{
        font-size: 2rem;
        font-weight: 600;
        
        @include tablet{
            font-size: 2rem;
            margin: 1rem 0;
        }
        @include desktop{
            font-size: 3rem;
            width: 90%;
            margin: auto;
            padding: 2rem;
            
        }
    }
    &__box{
        margin: 0 auto;
        @include tablet{
            width: 80%;
            margin: 0 auto;
        }
        @include desktop{
            font-size: 1rem;
            width: 70%;
            margin: auto;
            padding: 3rem 0;
        }
    }
    &__quote{
        font-weight: 600;
        @include tablet{
            width: 80%;
            margin: 0 auto;
        }
        @include desktop{
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

    }
    &__subheading{
        font-weight: 300;
        font-size: 1rem;
        margin: 1rem 0;
        @include tablet{
            font-weight: 600;
            font-size: 1.5rem;
            width: 80%;
            margin: auto;
            padding: 1rem 0;
        }
        @include desktop{
            width: 60%;
            font-size: 2rem;
            padding: 2rem 0;
        }
    }
}

.gallery{
    max-width: 100%;
    display: flex;
    background-color: #fafafa;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    &__heading{
        width: 100%;
        font-weight: 600;
        margin: 1rem;

        @include tablet{
            font-size: 3rem;
        }
        @include desktop{
            width: 80%;
            margin: auto;
            padding: 2rem 0;
        }
    }
    &__photo-holder
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @include tablet{
            width: 90%;
            margin: 0 auto;
        }
        @include desktop{
            width: 80%;
        }
    }
    &__photo{
        margin: 1rem;
        max-width: 90%;

        @include tablet{
            margin: 1rem 0;
            max-width: 30%;
        }
        
    }
}

.comments{
    padding: 2rem 0;
    background-color: #ffffff;
    // width: 80%;
    // margin: auto;
    &__container{
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        margin: 1rem auto;
        gap: 1rem;
        @include desktop{
            width: 60%;
            margin: auto;
        }
    }
    &__section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin: auto;
        gap: 1rem;
        padding: 1rem;
        border-bottom: 2px solid #e1e1e1;


    }
    &__icon{
        height: 2.15rem;
        width: 2.15rem;
        max-height: 10%;
        border-radius: 50%;
        @include tablet{
            height: 3rem;
            width: 3rem;
        }
    }
    &__heading{
        width: 80%;
        margin: auto;
        font-size: 2rem;
        font-weight: 600;
        
    }
    &__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        // padding: 1rem;
        // border-bottom: 2px solid #e1e1e1;
        // margin: 1rem auto;
    }
    &__nameLabel, &__commentLabel{
        text-transform: uppercase;
        color: #afafaf;
        font-weight: 600;
        // margin: 0.5rem 0;
    }
    &__nameBox, &__commentBox{
        background-color: #fafafa;
        color: #323232;
        border: 1px solid #afafaf;
        border-radius: 5px;
        min-height: 2rem;
        padding: 5px;
        margin: 0.5rem 0 1.5rem;
    }
    &__commentBox{
        min-height: 5rem;
        font-family: inherit;
        
    }
    &__btn{
        // max-width: 20%;
        color: #ffffff;
        padding: 0.7rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        background-color: #323232;

    }
}
.displayed{
    width: 80%;
    margin: auto;

    &__container{
        @extend .comments__container;
    }

    &__icon{
        @extend .comments__icon;
        // height: 2.15rem;
        // width: 2.15rem;
        // max-height: 10%;
        // border-radius: 50%;
        background-color: #afafaf;
        margin: 0 1rem;

        @include tablet{
            height: 3rem;
            width: 3rem;
        }
    }
    &__comment{
        // @extend .comments__section;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0;
        border-bottom: 2px solid #e1e1e1;
    }
    &__box{
        // flex-direction: column;
        @extend .comments__form;
    }
    &__label{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__name{
        font-weight: 600;
        margin: 0.5rem 0;
    }
    &__date{
        color: #afafaf;
    }
}


