@use './typography' as *;
@use './global' as *;
@use './fonts' as *;

.hero-banner{
    background-image:linear-gradient(rgba(50, 50, 50, 0.5),rgba(50, 50, 50, 0.5)) ,url(../../assets/images/hero-shows.jpg);
    background-size: cover;
    max-width: 100%;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 1rem;
    min-height: 200px;
    color: #ffffff;
    
    @include tablet{
        min-height: 500px;
        padding: 3.75rem;
    }
    
    @include desktop{
        min-height: 700px;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        padding: 10%;
    }

    &__logo{
        font-weight: 600;
        padding: 1rem 0;
    }

    &__text{
        @include tablet{
            width: 80%;
        }
        @include desktop{
            width: 50%;
        }
    }
}

iframe{
    height: 166px; 
    border: none; 
    @include tablet{
        width: 50%;
    }
}

.showHeadings{
    display: none;
    @include tablet{
        display: block;
        padding: 1rem;
    }
    &__list{
        @include tablet{
            list-style: none;
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            justify-content: space-between;
            width: 80%;
        }    
    }
    &__date, &__venue, &__location{
        @include tablet{
            color: #afafaf;
            width: 33%;
        }   
    }
    &__btn{
        min-width: 140px;
    }
    
}

.showListing{
    background-color: #ffffff;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;

    @include desktop{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 5% 10%;

    }
    &__details{
        @include desktop{
            width: 80%;
            margin: auto;
        }

    }
    &__header{
        font-weight: 600;
        margin: 1.5rem 1rem;
    }

    //items added from JS
    &__showItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        border-bottom: 2px solid #e1e1e1;

        @include tablet{
            flex-direction: row;
            justify-content: space-between;

        }

    }
    &__showItem:hover{
        background-color: #fafafa;
    }
    &__infoList{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0.5rem 0;
        @include tablet{
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
        
        }
    }

    &__date, &__venue, &__location{
        text-transform: uppercase;
        color: #afafaf;
        font-weight: 600;
        padding: 0.5rem 0;

        @include tablet{
            display: none;
        }
    }
    &__showDate, &__showVenue, &__showLocation{
        color: #000;
        padding-bottom: 0.7rem;
        @include tablet{
            width: 33%;
        }
    }
    &__showDate{
        font-weight: 600;
    }
    &__buyBtn{
        border: none;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 5px;
        padding: 1rem;
        color: #ffffff;
        background-color: #323232;
    }
}
.selected{
    background-color: #e1e1e1;
}